/**
*@css变量
*@变量名称规则：
*1、属性名称+“_”+具体内容名称
*/

//堆叠顺序-菜单
$z-index_sidebar:100;
$z-index_header:100;

//高度大小-头部
$height-size_header:60px;

//宽度大小-菜单
$width-size_sidebar:200px;
//宽度大小-最小宽度
$width-size_mix-wraper:1349px;

//padding大小
$padding-size_20:20px;
$padding-size_top10:10px;

$color_1f2d3d:#1f2d3d;
$color_fff:#fff;

//背景颜色-头部
$bg-color_header:$color_1f2d3d;

